/composer.lock
/build/
/vendor/
/src/var/
/symfony.lock
/composer.phar
/.php-cs-fixer
/.php-cs-fixer.cache
/.phpunit.result.cache
/tests/Functional/app/var/
/tests/Functional/app/public/bundles/
/tests/Functional/app/public/media/
/infection.log
/infection.json
/clover.xml
/tests/Functional/app/vendor/
/tests/Functional/app/public/uploads/
/tools/

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
