/composer.lock
/vendor/
/src/var/
/symfony.lock
/composer.phar
/.php_cs
/.php_cs.cache
/.phpunit.result.cache
/tests/Functional/app/var/
/tests/Functional/app/public/bundles/
/tests/Functional/app/public/media/
/infection.log
/infection.json
/clover.xml
/tests/Functional/app/vendor/

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
