default:
  suites:
    default:
      contexts:
        - 'Silverback\ApiComponentsBundle\Features\Bootstrap\DoctrineContext'
        - 'Silverback\ApiComponentsBundle\Features\Bootstrap\JsonContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'Silverback\ApiComponentsBundle\Features\Bootstrap\RestContext'
        - 'Silverback\ApiComponentsBundle\Features\Bootstrap\PublishableContext'
        - 'Behatch\Context\JsonContext'
        - 'Behatch\Context\RestContext'
        - 'Silverback\ApiComponentsBundle\Features\Bootstrap\UploadsContext'

  extensions:
    'FriendsOfBehat\SymfonyExtension':
      bootstrap: 'tests/Functional/app/bootstrap.php'
      kernel:
        class: 'AppKernel'
        path: 'tests/Functional/app/AppKernel.php'
        environment: 'test'
        debug: false
    'Behat\MinkExtension':
      base_url: 'http://example.com/'
      files_path: 'features/assets/files'
      sessions:
        symfony:
          symfony: ~
    'Behatch\Extension': ~

default-coverage:
  suites:
    default: &default-coverage-suite
      contexts:
        - 'Silverback\ApiComponentsBundle\Features\Bootstrap\CoverageContext'
        - 'Silverback\ApiComponentsBundle\Features\Bootstrap\DoctrineContext'
        - 'Silverback\ApiComponentsBundle\Features\Bootstrap\JsonContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'Silverback\ApiComponentsBundle\Features\Bootstrap\RestContext'
        - 'Silverback\ApiComponentsBundle\Features\Bootstrap\PublishableContext'
        - 'Behatch\Context\JsonContext'
        - 'Behatch\Context\RestContext'
        - 'Silverback\ApiComponentsBundle\Features\Bootstrap\UploadsContext'

default-legacy:
  suites:
    default: ~

default-legacy-coverage:
  suites:
    default:
      <<: *default-coverage-suite
