{
  "timeout": 10,
  "source": {
    "directories": [
      "src"
    ],
    "excludes": [
        "Resources/config"
    ]
  },
  "phpUnit": {
    "configDir": ".",
    "customPath": "vendor\/bin\/phpunit"
  },
  "logs": {
    "text": "infection.log",
    "badge": {
        "branch": "v2"
    }
  },
  "mutators": {
    "@default": true
  },
  "testFramework":"phpunit",
  "bootstrap":"./tests/Functional/app/bootstrap.php"
}
