{
  "source": {
    "directories": [
      "src"
    ],
    "excludes": [
        "Resources/config"
    ]
  },
  "timeout": 20,
  "phpUnit": {
    "configDir": ".",
    "customPath": "vendor\/bin\/phpunit"
  },
  "logs": {
    "text": "infection.log"
  },
  "mutators": {
    "@default": true
  },
  "testFramework":"phpunit",
  "bootstrap":"./tests/Functional/app/bootstrap.php"
}
