{% extends "@SilverbackApiComponent/emails/_template.html.twig" %}

{% block content %}
  <h1 class="text-center">Welcome to {{ website_name }}</h1>
  <spacer size="16"></spacer>
  <p>Hello {{ user.username }},</p>
  <p>Thank you for signing up to {{ website_name }}.</p>
  {% include "@SilverbackApiComponent/emails/_signature.html.twig" %}
{% endblock %}
