{% extends "@SilverbackApiComponents/emails/_template.html.twig" %}

{% block content %}
  <h1 class="text-center">Forgot Your Password?</h1>
  <spacer size="16"></spacer>
  <p>Hello {{ user.username }},</p>
  <p>We understand you've forgotten your password. Don't worry, it happens.</p>
  <p>Click the link below to reset your password.</p>
  <button class="large expand" href="{{ redirect_url }}">Reset Password</button>
  {% include "@SilverbackApiComponents/emails/_signature.html.twig" %}
{% endblock %}
